* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}
.pointer {
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: $green !important;
  }
}
