// Green
$green: #55bc7e;
$darkGreen: #49a16c;
// Gray
$headerbg: #ecf1f4;
$lighterGray: #eaebf5;
$lightGray: #8f91a1;
$gray: #717478;
$darkGray: #4e6570;
$copyRight: #dee5f5;
// Blue
$moreMoreLightBlue: #4b4e70;
$moreLigtBlue: #3c3f60;
$ligterBlue: #373b61;
$ligtBlue: #131848;
$darkBlue: #050931;
$footer: #344763;
//Others
$circle: #c4c4c4;
$spanbg: #d3e8e1;
$rectangle: #834d4d;
